@use "variables" as v; 
@use "mixins" as m;

.aboutme-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.3rem;
    text-align: left;

    font-family: v.$primary-font-family;

    @include m.desktop {
        padding: v.$body-padding-desktop;
    }

    .aboutme-box {
        text-transform: uppercase;
        padding-bottom: v.$heading-padding-bottom;

        @include m.desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            gap: 2rem;
        }

        span {
            font-size: v.$h3-mobile;
            letter-spacing: v.$text-space;

            @include m.desktop {
                font-size: v.$h3-desktop;
                flex: 1;
                text-align: left;
            }
        }

        .internship-wrapper {
            margin-top: 10px;
            
            @include m.desktop {
                margin-top: 0;
                width: 100%;
                flex: 2;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                gap: 0.25rem;
            }
            
            h3 {
                $font-family: v.$primary-font-family;
                $font-size: v.$h3-mobile;
                $letter-spacing: v.$heading-text-space;
    
                @include m.desktop {
                    font-size: v.$h3-desktop;
                }
            }
        }
    }

    .aboutme-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;

        span {
            font-size: 14px;
            text-transform: none;
            line-height: 1.5;
        }
    }
}