@use "variables" as v;
@use "mixins" as m;

@keyframes navOpenAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$primary-bg-color;
    color: v.$primary-color;
    padding: 2.5rem 2.3rem;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 1;
    
    @include m.desktop {
        flex-direction: row;
        padding: 4rem 10rem;
      }
  }
  
  .portfolio-name {
    font-size: 1rem;
    font-family: v.$primary-font-family;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: v.$text-space;
    z-index: 1;

    @include m.desktop {
        font-size: 1.5rem;
      }
  }
  
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: v.$primary-bg-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    gap: 2rem;
    
    @include m.desktop {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        top: auto;
        right: 5rem;
        gap: 2rem;
      }
      
  }

  .nav.open {
    display: flex;
    animation: navOpenAnimation 0.7s ease forwards;

  }

  .nav-links,
  .nav-some-links {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;

    @include m.desktop {
        flex-direction: row;
        font-size: 1.2rem;
      }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
    justify-content: center;

        a {
            font-family: v.$primary-font-family;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: v.$text-space;
            color: v.$primary-color;

            &:hover {
                text-decoration: underline;
            }
        }

        @include m.desktop {
            flex-direction: row;
            margin-right: 2.3rem;
        }
  }

  .nav-some-links {
        li {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        
        a {
            font-size: 2.5rem;
            color: v.$primary-color;
        }

        @include m.desktop {
        display: none;
        }
  }
  
  .menu-toggle {
    display: block;
    font-family: v.$primary-font-family;
    font-size: 2rem;
    color: v.$primary-color;
    cursor: pointer;
    z-index: 1;
    
    
      @include m.desktop {
        display: none;
      }
  }




