@use "variables" as v;
@use "mixins" as m;

.intro-wrapper {
    position: relative;

    .wave-divider {
        position: relative;
        width: 100%;
        height: 100px;
        transform: rotate(180deg); 
      }
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    background-color: v.$primary-bg-color;
    gap: 2.5rem;

    @include m.desktop {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        padding: 5rem 10rem;
    }

    .intro-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include m.desktop {
        text-align: left;
        gap: 2.5rem;
        }

        span {
            font-family: v.$third-font-family;
            font-size: 18px;
            line-height: 1rem;
            letter-spacing: v.$text-space;
            text-transform: uppercase;
            padding-top: 1rem;

            @include m.desktop {
                font-size: 5rem;
                line-height: 2rem;
            }
        }
    }

    .profile-img {
        width: 80%;
        height: auto;
        border-radius: 50%;
        border: 2px solid v.$secondary-color;

        @include m.desktop {
            width: 30%;
            height: 25%;
            object-fit: cover;
        }
    }
}