@use "variables" as v;
@use "mixins" as m;


.intro-container {
    padding: 2.5rem 3rem;
    background-color: v.$primary-bg-color;

    @include m.desktop {
        padding: 5rem 10rem;
    }

    .intro-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include m.desktop {
            flex-direction: row;
            justify-content: center;
            gap: 5rem;
        }

        span {
            font-family: v.$primary-font-family;
            font-size: 12px;
            line-height: 1rem;
            letter-spacing: v.$text-space;

            @include m.desktop {
                width: 50%;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        .profile-img {
            width: 80%;
            height: auto;
            border-radius: 50%;
            border: 2px solid v.$secondary-color;

            @include m.desktop {
                width: 25%;
                height: 25%;
                object-fit: cover;
            }
        }
    }
}