@use "variables" as v;
@use "mixins" as m;

.projects-container {
    width: 100%;
    padding: v.$body-padding-mobile;
    text-align: left;

    @include m.desktop {
        padding: v.$body-padding-desktop;
    }

    h3 {
        @include m.h3-mobile;
        @include m.desktop {
            font-size: v.$h3-desktop;
        }
    }

    .selected-projects {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include m.desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        a {
            font-family: v.$primary-font-family;
            color: v.$primary-color;
            text-decoration: none;

            .project-card {
                .productcard-box {
                    display: inline-block;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.4s ease;
    
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
                h4 {
                    font-weight: 300;
                    margin-top: 0.3rem;

                    @include m.desktop {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}