@use "variables" as v;
@use "mixins" as m;

.projects-container {
    width: 100%;
    padding: v.$body-padding-mobile;
    text-align: left;

    @include m.desktop {
        padding: v.$body-padding-desktop;
    }

    .selected-projects {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .project-card {
            img {
                width: 100%;
            }
        }
    }
}