@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Licorice&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font-family: "Raleway", sans-serif;
$secondary-font-family: "Licorice", cursive;
$third-font-family: "Indie Flower", cursive;

$primary-color: #000000;
$secondary-color: #ffffff;
$primary-bg-color: #eaebe8;

$h3-mobile: 16px;
$h3-desktop: 1.5rem;

$body-padding-mobile: 2.5rem 2.3rem;
$body-padding-desktop: 3.5rem 10rem;

$heading-padding-bottom: 1.5rem;

$text-space: 0.5px;
$heading-text-space: 1.5px;

$tablet: 768px;
$desktop: 1024px;