@use "variables" as v;
@use "mixins" as m;


.intro-container {
    padding: v.$body-padding-mobile;
    background-color: v.$primary-bg-color;

    .intro-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        span {
            font-family: v.$primary-font-family;
            font-size: 12px;
            line-height: 1rem;
            letter-spacing: v.$text-space;
        }
        .profile-img {
            width: 80%;
            height: auto;
            border-radius: 50%;
            border: 2px solid v.$secondary-color;
        }
    }
}

.tech-container {
    display: flex;
    flex-direction: column;
    padding: v.$body-padding-mobile;
    text-align: left;

    h3 {
        font-family: v.$primary-font-family;
        text-transform: uppercase;
        letter-spacing: v.$text-space;
        padding-bottom: v.$heading-padding-bottom;
    }

    .tech-skills {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 10px;

        li {
            font-family: v.$primary-font-family;
            font-size: 12px;
            letter-spacing: v.$text-space;
        }
    }

}