@use "variables" as v;
@use "mixins" as m;

.project-details-container {
    padding: v.$body-padding-mobile;
    text-align: left;

    @include m.desktop {
        padding: 8rem 10rem;
    }

    .project-details-flex {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include m.desktop {
            flex-direction: row;
            gap: 10rem;
            padding-bottom: 2rem;
        }

        .project-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            font-family: v.$primary-font-family;
            font-size: 12px;
            letter-spacing: v.$text-space;
            margin-bottom: 1.5rem;

            @include m.desktop {
                font-size: 1.2rem;
                width: 50%;
                gap: 2.5rem;
            }

            .project-details-heading {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 0.2px;


                    @include m.desktop {
                       font-size: 1.8rem;
                    }
                }
                
                .project-course {
                    font-style: italic;
                }
            }

            .project-description {
                line-height: 1.5;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                li {
                    list-style: none;
                }
            }

            .project-tech {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                h4 {
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 0.8rem;

                    li {
                        list-style: none;
                    }
                }
            }

            a:-webkit-any-link {
                color: v.$primary-color;
                cursor: pointer;
                text-decoration: none;
            }

            .github-btn {
                background-color: v.$primary-color;
                color: v.$secondary-color;
                padding: 10px;
                border-radius: 5px;
                
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;

                @include m.desktop {
                    font-size: 1.2rem;
                }
            }
        }

        .project-top-image-container {
            width: 100%;
            display: inline-block;
            position: relative;
            padding-bottom: 1.5rem;

            @include m.desktop {
               width: 50%;
            }

            .background-color-box {
                position: absolute;
                top: -10px;
                left: 10px;
                width: 100%;
                height: 90%;
                background-color: v.$primary-bg-color;
                z-index: -1;
            }

            .project-topimage {
                display: block;
                position: relative;
                width: 100%;
                border: 0.5px solid v.$primary-color;
                z-index: 1;
            }
        }
    }

    .project-demo {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .demo-image {
            width: 100%;
            height: auto;
        }
    }
}